<h2>New Dog</h2>

<md-input-container>
    <label>Name</label>
    <input type="text" ng-model="addDog.dog.name" required md-maxlength="10">
</md-input-container>
<md-input-container>
    <label>Breed</label>
    <input type="text" ng-model="addDog.dog.breed" required md-maxlength="20">
</md-input-container>
<md-input-container>
    <label>Age</label>
    <input type="number" ng-model="addDog.dog.age" required>
</md-input-container>
<md-button class="md-primary" ng-click="addDog.save()">Save</md-button>