<md-content class="dogs">
    <md-grid-list
            md-cols-gt-md="3" md-cols-sm="1" md-cols-md="2"
            md-row-height-gt-md="3:1" md-row-height="2:1"
            md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px">
        <md-grid-tile ng-repeat="dog in dogList.dogs">
            <md-grid-tile-header>
                <h3>{{dog.name}}</h3>
            </md-grid-tile-header>
            {{dog.age}} year old {{dog.breed}}
        </md-grid-tile>
    </md-grid-list>
</md-content>